<!DOCTYPE html>
<html lang="es" dir="ltr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0">
  <title>Ariescraft || login</title>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" type="text/css" href="main.css">
</head>

<body>
  <!-- <section>
    <aside class="left-side">
      <div class="logo">
        <img src="images/aries_logo.png" alt="Image">
      </div>
    </aside>
  </section> -->
  <div class="main">
    <div class="container b-container" id="b-container" style="  left: calc(100% - 810px );">
      <form action='/production/login' method="POST" class="form" id="b-form">
        <div class="logo">
          <img src="images/aries_logo.png" alt="Image">
        </div>
        <h2 class="form_title title">Sign in to Website</h2>
        <span class="form__span">or use your email account</span>
        <input class="form__input" type="email" placeholder="Email" name="email" autocomplete="off">
        <input class="form__input" type="password" placeholder="Password" name="password" autocomplete="off">
        <!-- <a class="form__link">Forgot your password?</a> -->
        <button class="form__button button ">SIGN IN</button>
      </form>
    </div>
  </div>
  <script src="main.js"></script>
  <script src="js/script.js"></script>
</body>

</html>