<!doctype html>
<html lang="en">

<head>
  <title>Ariescraft</title>
  <meta content-type='text/html'>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

  <link rel="stylesheet" href="css/styles.css" type='text/css'>
  <link rel="stylesheet" href="css/drop.css" type='text/css'>

  <!-- 
    @Project - ariescraft
    @author - Makhan Tarade
    @Licence - ASK Innovations
    @visit - https://askinnovations.co.in
   -->
  <style>
    .logo img {

      vertical-align: middle;
      border-style: none;

      position: absolute;
      top: 20px;
      left: 60px;

    }
  </style>

</head>

<body>
  <aside class="left-side">
    <div class="logo">
      <img class="" src="images/aries_logo.png" alt="Image">
    </div>

  </aside>
  <nav class="menu">
    <ol>
      <li class="menu-item"><a href="/customer/home">Home</a></li>
      <!-- <li class="menu-item"><a href="/order">Start an Order</a></li> -->
      <li class="menu-item">
        <a href="#" style="text-transform: none;">Order</a>
        <ol class="sub-menu">
          <li class="menu-item"><a href="/customer/artwork">Artwork</a></li>
          <li class="menu-item"><a href="/customer/digitizing">Digitizing</a></li>
          <li class="menu-item"><a href="/customer/document">Document</a></li>
          <!-- <li class="menu-item"><a href="/customer/uploaded_files">Uploaded files</a></li> -->
        </ol>
      </li>
      <li class="menu-item"><a href="/customer/contact_us">Contact Us</a></li>
      <li class="menu-item"><a href="/customer/account_edit">Profile</a></li>
      <!-- <li class="menu-item">
        <a href="#">Account</a>
        <ol class="sub-menu">
          
        </ol>
      </li> -->
      <li class="menu-item"><a href="/customer/logout">Logout</a></li>
    </ol>


  </nav>